@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@900&display=swap');

html{
    font-size: 100%;
    box-sizing: border-box;
}
*, *::before, *::after{
    box-sizing: inherit;
}
body{
    margin: 0;
    padding: 0;
    font-family: 'Merriweather', serif;
    font-weight: 900;
    font-size: 1rem;
}

h1,h2,h3,h4,h5,h6,p{
    margin: 0;
    background-color: rgba(0,0,0,0.4);
    color: rgb(255,255,255);
}


/* Cookie section */
.cookie{
    width: 30%;
    height: 100vh;
    background-image: url("../img/background.jpg");
}
.cookie__container{
    padding: 4rem 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(transparent 44%, black);
}
.cookie__name{
    font-size: 20px;
    width: 75%;
    margin: 0 auto 1rem auto;
    border-radius: 10px;
    padding: 1px 6px;
    text-align: center;
    letter-spacing: -0.5px;
    color: rgba(255,255,255,0.8);
    cursor: pointer;
}
.cookie__name:hover{
    color: white;
    text-shadow: 1px 1px 9px white;
}
.cookie__countBx{
    text-align: center;
    position: relative;
    z-index: 3;
}
.cookie__text{
    font-size: 26px;
    line-height: 30px;
}
.cookie__sec{
    font-size: 13px;
}
.cookie__imgBx{
    text-align: center;
    margin-top: 2.375rem;
    width: 256px;
    height: 256px;
    margin-inline: auto;
    display: grid;
}
.cookie__img{
    width: 100%;
    height: 100%;
    grid-column: 1;
    grid-row: 1;
    z-index: 2;
}

.cookie__anima.normal{
    animation: cookieAni 20s linear infinite;
}
.cookie__anima.reverse{
    animation: cookieAni 20s linear reverse infinite;
}
.cookie__anima{
    z-index: 1;
    display: block;
    width: 140%;
    height: 140%;
    border-radius: 50%;
    grid-column: 1;
    grid-row: 1;
    align-self: center;
    justify-self: center;
    background: repeating-conic-gradient(from 0deg, #ffffff54 -18deg 0deg, transparent 0deg 14deg);
}

@keyframes cookieAni {
    0%{
        transform: rotate(0deg);
    }
    50%{
        transform: rotate(180deg);
    }
    100%{
        transform: rotate(360deg);
    }
}