@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700;900&display=swap');

html{
    font-size: 100%;
    box-sizing: border-box;
}
*, *::before, *::after{
    box-sizing: inherit;
}
body{
    margin: 0;
    padding: 0;
    font-family: 'Merriweather', serif;
    font-weight: 900;
    font-size: 1rem;
    display: flex;
    flex-direction: row;
    background-image: url("../img/background.jpg");
    user-select: none;
    overflow: hidden;
}

h1,h2,h3,h4,h5,h6,p{
    margin: 0;
    color: rgb(255,255,255);
}


/* Cookie section */
.cookie{
    width: calc(30% + 16px);
    height: 100vh;
    position: relative;
}
.cookie__container{
    display: flex;
    flex-direction: column;
    padding: 94px 0 5px 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(transparent 44%, black);
    border-right: 16px solid transparent;
    border-image: url("../img/wooden_line_y.png") 1% 100% repeat;
    overflow: hidden;
}
.cookie__name{
    width: 75%;
    margin: 0 auto 10px auto;
    padding: 1px 6px;
    font-size: 20px;
    text-align: center;
    border-radius: 10px;
    color: rgba(255,255,255,0.8);
    background-color: rgba(0,0,0,0.4);
    z-index: 3;
    cursor: pointer;
}
.cookie__name:hover{
    color: white;
    text-shadow: 1px 1px 9px white;
}
.cookie__countBx{
    text-align: center;
    position: relative;
    z-index: 3;
    background-color: rgba(0,0,0,0.4);
}
.cookie__text{
    font-size: 28px;
    line-height: 1;
}
.cookie__sec{
    font-size: 14px;
    font-weight: 700;
}
.cookie__imgBx{
    text-align: center;
    margin-top: 117px;
    width: 256px;
    height: 256px;
    margin-inline: auto;
    display: grid;
}
.cookie__img{
    width: 100%;
    height: 100%;
    grid-column: 1;
    grid-row: 1;
    z-index: 3;
    filter: drop-shadow(1px 6px 6px black);
    border-radius: 50%;
    cursor: pointer;
}
.cookie__upgradesContainer{
    grid-column: 1;
    grid-row: 1;
    align-self: center;
    justify-self: center;
    width: 120%;
    height: 120%;
    display: grid;
    z-index: 2;
    animation: cookieCursorRotateAni 150s linear forwards infinite;
}
.cookie__upgradesBx{
    position: relative;
    grid-column: 1;
    grid-row: 1;
    align-self: center;
    justify-self: center;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    z-index: 2;
}
.cookie__upgradesBx:nth-of-type(2n){
    transform: rotate(89deg);
}
.cookie__upgrade{
    position: absolute;
    transition: transform 100ms ease-in;
}
.cookie__upgrade.active{
    transform: translateY(-5px);
}

.cookie__bgAni{
    z-index: 1;
    display: block;
    position: relative;
    width: 200%;
    height: 200%;
    align-self: center;
    justify-self: center;
    grid-column: 1;
    grid-row: 1;
    mask-image: radial-gradient(white 34%, transparent 66%);
    -webkit-mask-image: radial-gradient(white 34%, transparent 66%);
    background: #ffffff7a;
}
.cookie__ani{
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.cookie__ani.normal{
    animation: cookieAni 30s linear infinite;
    background: repeating-conic-gradient(from 0deg, #ffffff99 -25deg 0deg, transparent 0deg 26deg);
}
.cookie__ani.reverse{
    /* display: none; */
    animation: cookieAni 40s linear reverse infinite;
    background: repeating-conic-gradient(from 0deg, #ffffff99 -46deg 0deg, transparent 0deg 26deg);
}
.cookie__path{
    margin-top: auto;
    color: #ffffff98;
    font-size: 22px;
    padding-left: 8px;
}

@keyframes cookieAni {
    0%{
        transform: rotate(0deg);
    }
    50%{
        transform: rotate(180deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

@keyframes cookieHoverIn {
    0%{
        transform: scale(1);
    }
    20%{
        transform: scale(1.09);
    }
    40%{
        transform: scale(1.05);
    }
    60%{
        transform: scale(1.09);
    }
    80%{
        transform: scale(1.07);
    }
    100%{
        transform: scale(1.1);
    }
}

@keyframes cookieHoverOut {
    0%{
        transform: scale(1.1);
    }
    20%{
        transform: scale(1);
    }
    40%{
        transform: scale(0.95);
    }
    60%{
        transform: scale(0.99);
    }
    80%{
        transform: scale(0.97);
    }
    100%{
        transform: scale(1);
    }
}

@keyframes cookieCursorRotateAni {
    0%{
        transform: rotateZ(0deg);
    }
    100%{
        transform: rotateZ(-359deg);
    }
}


/* Middle Section */
.middle{
    width: calc(70% - 334px - 16px);
    height: 100vh;
    display: grid;
    overflow: hidden;
}
.middle__attr{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    background: linear-gradient(0deg, black -12%, #00000052 18%, #00000052 89%, black 104%);

    border-bottom: 16px solid transparent;
    border-image: url("../img/wooden_line_x.png") 100% 0% repeat;
}
.middle__attr::before{
    content: '';
    display: block;
    position: absolute;
    bottom: -16px;
    left: 0;
    width: 100%;
    height: 16px;
    background: linear-gradient(90deg, black -2%, transparent 8%, transparent 92%, black 102%);
    pointer-events: none;
}
.attr__bx{
    display: flex;
    flex-direction: column;
    position: relative;
    background-image: url("../img/panelMenu.png");
    z-index: 0;
}
.attrLeft{
    align-items: flex-start;
    padding: 14px 5px;
}
.attrRight{
    background-position: -100px 0px;
    padding: 14px 10px;
}
.attr__cleanBtn, .attr__roundedBtn{
    padding: 0;
    margin: 0;
    background-color: transparent;
    border: none;
    outline: none;
    color: #8b8b8b;
    font-weight: 600;
    cursor: pointer;
    transition: color 160ms ease-in-out;
}
.attr__roundedBtn{
    padding: 4px 12px;
    border-radius: 4px;
    font-size: 15px;
    box-shadow: 0px 1px 0px rgb(250 180 150 / 75%) inset, 0px 0px 0px 1px rgb(0 0 0 / 75%), 0px 2px 3px rgb(250 180 150 / 50%) inset, 0px 1px 0px 1px rgb(250 180 150 / 25%);
}
.attr__cleanBtn{
    font-size: 18px;
}
.attr__cleanBtn:last-of-type{
    margin: 14px 0px 0px 11px;
}
.attr__roundedBtn:last-of-type{
    margin: 14px 0px 0px 11px;
}

/* Btns animation */
.attr__cleanBtn::before{
    content: '';
    display: block;
    position: absolute;
    left: 0;
    width: 100%;
    height: 50%;
    background-image: url("../img/panelMenu.png");
    pointer-events: none;
    filter: brightness(1.1);
    opacity: 0;
    z-index: -1;
    transition: opacity 160ms ease-in-out;
}
.attr__cleanBtn:first-of-type::before{
    /* left top one */
    top: 0;
    background-position: -100px 96px;
}
.attr__cleanBtn:last-of-type::before{
    bottom: 0;
    background-position: 0px -140px;
}
.attr__cleanBtn:hover{
    color: white;
}
.attr__cleanBtn:hover::before{
    opacity: 1;
}
.attr__roundedBtn:hover{
    color: white;
}

.attr__citate{
    color: #e5e5e5;
    font-size: 16px;
    margin-top: 16px;
    height: max-content;
    transition: text-shadow 200ms ease-in-out;
}
.attr__citate:hover{
    text-shadow: 6px 6px 5px black;
}

/* middle between */
.middle__between{
    display: block;
    position: relative;
    width: 100%;
    height: 18px;
    background-color: #000000db;
}
.middle__between::before{
    content: '';
    display: block;
    position: absolute;
    bottom: -16px;
    left: 0;
    width: 100%;
    height: 16px;
    background: linear-gradient(90deg, black -2%, transparent 8%, transparent 92%, black 102%);
    z-index: 5;
    pointer-events: none;
}

/* middle buildings */
.middle__buildings{
    position: relative;
    overflow: hidden auto;
    height: inherit;

    border-top: 16px solid transparent;
    border-image: url("../img/wooden_line_x.png") 100% 0% repeat;
}
.middle__buildings::-webkit-scrollbar{
    width: 8px;
}
.middle__buildings::-webkit-scrollbar-track{
    background-color: black;
    border-radius: 12px;
}
.middle__buildings::-webkit-scrollbar-thumb{
    background-color: #949494;
    border-radius: 12px;
}
.middle__buildings::before{
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #00000021;
}
.buildBx{
    height: 144px;
    background-repeat: repeat no-repeat;
    position: relative;
    
    border-bottom: 16px solid transparent;
    border-image: url("../img/wooden_line_x.png") 100% 0% repeat;
}
.buildBx::before{
    content: '';
    display: block;
    position: absolute;
    bottom: -16px;
    left: 0;
    width: 100%;
    height: 16px;
    background: linear-gradient(90deg, black -2%, transparent 8%, transparent 92%, black 102%);
    pointer-events: none;
}
.buildContainer{
    position: relative;
    width: 100%;
    height: 100%;
}

/* grandmas */
.grandmaImgBx{
    position: absolute;
    display: flex;
    top: 28%;
    left: 0;
    margin-left: calc(var(--graNum) * 16px);
    z-index: var(--graNum);

    width: 32px;
    height: 50px;
    align-items: flex-end;
    justify-content: center;
}
.grandmaImgBx img{
    width: 32px;
    height: 50px;
    object-fit: none;
    object-position: center bottom;
    z-index: 1;
}
.grandmaImgBx:nth-child(3n - 1){
    top: 63%;
    transform: translateY(-50%);
    left: 0;
}
.grandmaImgBx:nth-child(3n){
    top: unset;
    transform: translateY(0);
    bottom: 3%;
    left: 0;
}
.grandmaImgBx::before{
    content: var(--graName);
    display: block;
    position: absolute;
    top: -26px;
    right: -40px;
    width: max-content;
    font-size: 12px;
    background-color: #000000b8;
    color: #c0c0c0;
    padding: 4px 5px;
    pointer-events: none;
    z-index: 1;
    visibility: hidden;
}
.grandmaImgBx:nth-child(3n -1)::before{
    top: calc(-100% + 11px);
}
.grandmaImgBx:nth-child(3n)::before{
    top: calc(-156% + 18px);
    right: -54px;
}
.grandmaImgBx::after{
    content: '';
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    height: 8px;
    background-color: #000000ad;
    pointer-events: none;
    z-index: 0;
    visibility: hidden;

    width: 100%;
    transform: rotate(125deg) translate(-6px, -10px);
}
.grandmaImgBx:nth-child(3n - 1)::after{
    width: 150%;
    transform: rotate(125deg) translate(-14px, -18px);
}
.grandmaImgBx:nth-child(3n)::after{
    width: 225%;
    transform: rotate(99deg) translate(-11px, -21px);
}


.grandmaImgBx:hover::before{
    visibility: visible;
}
.grandmaImgBx:hover::after{
    visibility: visible;
}

/* building - farm */
.build__farmContainer{
    transform: translateX(-28px);
}
.buildFarm img{
    width: 64px;
    height: 64px;
    position: absolute;
    margin-left: calc(var(--farmNum) * 32px);
    /* z-index: -(var(--farmNum)); */
}
.buildFarm img:nth-child(2n -1){
    top: 52%;
    transform: translateY(-50%);
    z-index: 1;
}
.buildFarm img:nth-child(2n){
    top: 65%;
    transform: translateY(-50%);
    z-index: 2;
}

/* building - mine */
.build__mineContainer{
    width: 100%;
    height: 100%;
    position: relative;
    transform: translateX(-30px);
}
.buildMine img{
    width: 64px;
    height: 64px;
    position: absolute;
    transform: translateY(-50%);
    margin-left: calc(var(--mineNum) * 34px);
}
.buildMine img:nth-child(2n){
    top: 70%;
    z-index: 2;
}
.buildMine img:nth-child(2n - 1){
    top: 60%;
    z-index: 1;
}

/* building - factory */
.build__factContainer{
    display: flex;
    flex-direction: row;
    transform: translate(2px, 9px);
}
.build__factContainer img{
    width: 64px;
    height: 64px;
    margin-left: -1px;
}

/* building - bank */
.build__bankContainer{
    display: flex;
    flex-direction: row;
    transform: translate(6px, 44px);
}
.build__bankContainer img{
    width: 64px;
    height: 64px;
    margin-left: -4px;
}

/* building - temple */
.build__templeContainer{
    transform: translateX(-44px);
}
.build__templeContainer img{
    position: absolute;
    margin-left: calc(var(--templeNum) * 44px);
    transform: translateY(-50%);
    z-index: var(--templeNum);
}
.build__templeContainer img:nth-child(2n - 1){
    top: 40%;
}
.build__templeContainer img:nth-child(2n){
    top: 48%;
}

/* building - wizard */
.build__wizardContainer{
    transform: translateX(-28px);
}
.build__wizardContainer img{
    position: absolute;
    transform: translateY(-50%);
    z-index: var(--wizNum);
}
.build__wizardContainer img:nth-child(2n - 1){
    top: 52%;
    margin-left: calc(var(--wizNum) * 27px);
}
.build__wizardContainer img:nth-child(2n){
    top: 66%;
    margin-left: calc(var(--wizNum) * 26px);
}

/* building - ship */
.build__shipContainer{
    display: flex;
    align-items: center;
    transform: translate(-5px, 4px);
}
.build__shipContainer img{
    width: 64px;
    height: 64px;
}

/* Building - alchemy */
.build__alchemyContainer{
    transform: translateX(-28px);
}
.build__alchemyContainer img{
    width: 64px;
    height: 64px;
    position: absolute;
}
.build__alchemyContainer img:nth-child(2n - 1){
    top: 30%;
    z-index: calc(var(--alchNum) + 1);
    margin-left: calc(var(--alchNum) * 36px);
}
.build__alchemyContainer img:nth-child(2n){
    top: 40%;
    z-index: calc(var(--alchNum) + 3);
    margin-left: calc(var(--alchNum) * 36px - 16px);
}

/* Building - portal */
.build__portalContainer{
    transform: translateX(-36px);
}
.build__portalContainer img{
    width: 64px;
    height: 64px;
    position: absolute;
    z-index: var(--portalNum);
}
.build__portalContainer img:nth-child(2n - 1){
    top: 15%;
    margin-left: calc(var(--portalNum) * 40px)
}
.build__portalContainer img:nth-child(2n){
    top: 28%;
    margin-left: calc(var(--portalNum) * 40px - 10px)
}

/* building - time */
.build__timeContainer{
    transform: translateX(-84px);
}
.build__timeContainer img{
    width: 64px;
    height: 64px;
    position: absolute;
    transform: translateY(-50%);
}
.build__timeContainer img:nth-last-child(2n - 1){
    top: 40%;
    margin-left: calc(var(--timeNum) * 68px - 6px);
}
.build__timeContainer img:nth-last-child(2n){
    top: 55%;
    margin-left: calc(var(--timeNum) * 68px);
}

/* building - condenser */
.build__condenserContainer{
    transform: translateX(-60px);
}
.build__condenserContainer img{
    width: 64px;
    height: 64px;
    position: absolute;
    transform: translateY(-50%);
    margin-left: calc(var(--condNum) * 64px);
}
.build__condenserContainer img:nth-child(3n - 2){
    top: 50%;
}
.build__condenserContainer img:nth-child(3n - 1){
    top: 47%;
}
.build__condenserContainer img:nth-child(3n){
    top: 63%;
}

/* building - prism */
.build__prismContainer{
    transform: translateX(-58px);
}
.build__prismContainer img{
    width: 64px;
    height: 64px;
    position: absolute;
    top: 64%;
    transform: translateY(-50%);
}
.build__prismContainer img:nth-child(3n - 2){
    margin-left: calc(var(--prismNum) * 58px);
}
.build__prismContainer img:nth-child(3n - 1){
    margin-left: calc(var(--prismNum) * 62px);
}
.build__prismContainer img:nth-child(3n){
    margin-left: calc(var(--prismNum) * 58px);
}

/* building - chance */
.build__chanceContainer{
    transform: translateX(-66px);
}
.build__chanceContainer img{
    width: 64px;
    height: 64px;
    position: absolute;
    margin-left: calc(var(--chanceNum) * 64px);
    transform: translateY(-50%);
}
.build__chanceContainer img:nth-child(2n - 1){
    top: 34%;
}
.build__chanceContainer img:nth-child(2n){
    top: 56%;
}

/* building - engine */
.build__engineContainer{
    transform: translateX(-52px);
}
.build__engineContainer img{
    width: 64px;
    height: 64px;
    position: absolute;
    transform: translateY(-50%);
}
.build__engineContainer img:nth-child(4n - 3){
    margin-left: calc(var(--engineNum) * 56px);
    top: 34%;
}
.build__engineContainer img:nth-child(4n - 2){
    margin-left: calc(var(--engineNum) * 60px);
    top: 68%;
}
.build__engineContainer img:nth-child(4n - 1){
    margin-left: calc(var(--engineNum) * 58px);
    top: 46%;
}
.build__engineContainer img:nth-child(4n){
    margin-left: calc(var(--engineNum) * 56px);
    top: 60%;
}

/* building - javascript console */
.build__jsconsoleContainer{
    transform: translateX(0px);
    overflow: hidden;
}
.build__jsconsoleContainer img{
    width: 14px;
    height: 126px;
    object-fit: none;
}
.build__jsconsoleContainer img:nth-child(2n - 1){
    object-position: right 0;
}
.build__jsconsoleContainer img:nth-child(2n){
    object-position: left 0;
}
.build__jsconsoleContainer img:nth-child(3n - 2){
    transform: translateY(24%);
}
.build__jsconsoleContainer img:nth-child(3n - 1){
    transform: translateY(0);
}
.build__jsconsoleContainer img:nth-child(3n){
    transform: translateY(-13%);
}




/* Store section */
.store{
    width: 334px;
    border-left: 16px solid transparent;
    border-image: url("../img/wooden_line_y.png") 1% 100% repeat;
    background: linear-gradient(black -10%, transparent 18%, transparent 63%, black 107%);
    padding: 50px 0 16px 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
}
.store__title{
    position: relative;
    text-align: center;
    font-size: 28px;
    font-weight: 900;
    border-bottom: 16px solid transparent;
    border-image: url("../img/wooden_line_x.png") 100% 0% repeat;
    padding-bottom: 6px;
}
.store__upgrades{
    position: relative;
    border-bottom: 16px solid transparent;
    border-image: url("../img/wooden_line_x.png") 100% 0% repeat;
}
.store__upgrades::after{
    content: '';
    position: absolute;
    width: 12px;
    height: 100%;
    right: 0;
    top: 0;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.76) 5%, rgba(0, 0, 0, 0.36) 50%, rgba(0, 0, 0, 0.36) 50%, rgba(0, 0, 0, 0.76));
    pointer-events: none;
    z-index: 9;
}

.store__title::before, .store__upgrades::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 16px;
    left: 0;
    bottom: -16px;
    background: linear-gradient(90deg, black -4%, transparent 15%, transparent 84%, black);
}
.upgrade__info, .buy__info{
    position: absolute;
    top: -14px;
    font-size: 13px;
    font-variant: small-caps;
    color: #f6dab8;
}
.upgrade__container{
    display: flex;
    flex-direction: column;
    position: relative;
    border-right: 12px solid transparent;
    border-image: url("../img/wooden_line_y.png") 0% 100% repeat;
    height: 180px;
    overflow: hidden auto;
}
.upgrade__container::before{
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #0000004a;
    pointer-events: none;
    z-index: -1;
}

.upgrade__container::-webkit-scrollbar{
    width: 6px;
}
.upgrade__container::-webkit-scrollbar-track{
    background-color: black;
    border-radius: 12px;
}
.upgrade__container::-webkit-scrollbar-thumb{
    background-color: #949494;
    border-radius: 12px;
}
.upgrade__bxRow{
    display: flex;
}
.upgrade__bx{
    display: grid;
    place-items: center;
    width: 60px;
    height: 60px;
    background-color: rgba(0,0,0,0.25);
    cursor: pointer;
}
.upgrade__bx::before{
    content: '';
    width: 100%;
    height: 100%;
    grid-row: 1;
    grid-column: 1;
    left: 0;
    top: 0;
    background-image: url("../img/upgradeFrame.png");
    background-position: 0px 0px;
}
.upgrade__bx:hover::before{
    background-position: 60px 0;
}
.upgrade__bx:hover .upgrade__item{
    transform: translateY(-1px);
}
.upgrade__item{
    width: 38px;
    height: 38px;
    grid-row: 1;
    grid-column: 1;
    object-fit: none;
    object-position: -5px -3px;
    transition: transform 150ms ease-in-out;
}
.store__buy{
    position: relative;
    height: 80%;
    display: flex;
    flex-direction: column;
}
.buy__selection{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    background-color: #000000a6;
    padding: 2px 20px 2px 6px;
    font-variant: small-caps;
}
.selection__textBx{
    font-size: 14px;
    justify-self: flex-start;
}
.selection__number{
    font-size: 15px;
    justify-self: flex-start;
}
.selection__number, .selection__text{
    color: rgba(255, 255, 255, 0.5);
    transition: color 150ms ease-in-out, text-shadow 150ms ease-in-out;
    cursor: pointer;
}
.selection__number:hover, .selection__number.active,
.selection__text:hover, .selection__text.active{
    color: rgb(255,255,255);
    text-shadow: 1px 1px 6px white;
}

/* Buy item */
.buy__itemBx{
    display: flex;
    flex-direction: column;
    overflow: hidden auto;
}
.buy__itemBx::-webkit-scrollbar{
    width: 6px;
}
.buy__itemBx::-webkit-scrollbar-track{
    background-color: black;
    border-radius: 12px;
}
.buy__itemBx::-webkit-scrollbar-thumb{
    background-color: #949494;
    border-radius: 12px;
}
.buy__item{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-right: 8px;
    background-image: url("../img/storeTile.jpg");
    background-position: 0 128px;
    background-size: 320px 258px;
    box-shadow: inset 0 0 0 100px #00000033;
    cursor: pointer;
}
.buy__item:hover{
    box-shadow: 0px 0px 16px #fed inset, inset 0 0 0 100px #00000033;
}
.buy__item:active{
    box-shadow: 0px 0px 16px #000 inset, inset 0 0 0 100px #00000033;
}
.item__icon{
    width: 64px;
    height: 64px;
    object-fit: none;
}
.item__textBx{
    display: flex;
    flex-direction: column;
}
.item__name{
    display: none;
    font-size: 28px;
    line-height: 1;
    text-shadow: 1px 1px 4px black;
}
.item__name.itmNameDis{
    display: block;
}
.item__info{
    display: flex;
    flex-direction: row;
}
.info__amount{
    margin-right: 4px;
    font-size: 13px;
    font-variant: small-caps;
    color: #ffc;
    text-shadow: 2px 2px 6px black;
}
.info__prize{
    display: flex;
    align-items: center;
    font-size: 14px;
    text-shadow: 2px 2px 6px black;
}
.prizeGreen{
    color: #12df12;
}
.prizeRed{
    color: red;
}
.prize__icon{
    width: 16px;
    height: 16px;
    margin-right: 2px;
}
.item__count{
    font-size: 40px;
    margin-left: auto;
    align-self: flex-end;
    color: #00000061;
    margin-bottom: 6px;
}


/* item description */
.item__desc{
    position: absolute;
    right: calc(100% + 10px);
    top: 0;
    width: 390px;
    padding: 8px 14px 12px 6px;
    background-color: #111111;
    border-radius: 3px;
    border: 3px solid #929279;
    pointer-events: none;

    display: none;
}
.desc__top{
    display: flex;
    flex-direction: row;
    padding-left: 8px;
    padding-top: 2px;
}
.desc__icon{
    width: 38px;
    height: 43px;
    object-fit: none;
}
.desc__nameBx{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 10px;
}
.desc__name{
    display: none;
    font-size: 14px;
    color: #ffffffe3;
}
.desc__name.descNameDis{
    display: block;
}
.desc__own{
    color: #0a0a0a;
    background-color: #acacacd4;
    padding: 2px 3px;
    font-size: 9px;
    border-radius: 4px;
    width: fit-content;
}
.desc__countBx{
    display: flex;
    flex-direction: row;
    align-items: center;
    align-self: flex-start;
    margin-left: auto;
}
.desc__count{
    font-size: 12px;
    margin-left: 2px;
}
.desc__citation{
    display: none;
    font-size: 12px;
    text-align: right;
    color: #646464;
    margin-top: 6px;
    padding-top: 8px;
    border-top: 1px solid;
    border-image: linear-gradient(to left, #111111 5%, #666666 50%, #111111 95%) 
    100% 0 0 0/1px 0 0 0 stretch;
}
.desc__citation.descCitDis{
    display: block;
}
.desc__infoBx{
    padding: 0;
    margin: 0;
    list-style-type: none;
    flex-direction: column;
    row-gap: 6px;
    padding-left: 10px;

    display: none;
    
    margin-top: 8px;
    padding-top: 6px;
    border-top: 1px solid;
    border-image: linear-gradient(to left, #111111 5%, #666666 50%, #111111 95%) 
    100% 0 0 0/1px 0 0 0 stretch;
}
.buy__item.descInfoEnabled .desc__infoBx{
    display: flex;
}
.desc__info{
    position: relative;
    font-size: 10px;
    color: #a3a3a3;
    background-color: #323232;
    margin-left: 6px;
    padding: 2px 8px;
    border-radius: 12px;
}
.desc__info::before{
    content: '';
    display: block;
    position: absolute;;
    left: -6px;
    top: 50%;
    transform: translateY(-50%);
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background-color: #aaa;
    pointer-events: none;
}
.infoReinfBx{
    background-color: black;
    color: white;
    border: 1px solid #5a5a5a;
    border-radius: 4px;
    padding: 1px 3px;
    font-size: 9px;
    font-weight: 600;
}
.whiteT{
    color: white;
}

/* Upgrade description */
.desc__upgTitle{
    font-size: 12px;
    font-weight: 600;
    color: #a0a0a0;
    padding-left: 10px;
    
    margin-top: 6px;
    padding-top: 6px;
    border-top: 1px solid;
    border-image: linear-gradient(to left, #111111 5%, #666666 50%, #111111 95%) 
    100% 0 0 0/1px 0 0 0 stretch;
}
.desc__upgClick{
    font-size: 10px;
    font-weight: 600;
    color: #a0a0a0;
    text-align: center;
    
    margin-top: 20px;
    padding-top: 6px;
    border-top: 1px solid;
    border-image: linear-gradient(to left, #111111 5%, #666666 50%, #111111 95%) 
    100% 0 0 0/1px 0 0 0 stretch;
}

/* Disabled item */
.buy__item.itemDisabled{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}
.buy__item.itemDisabled::before{
    content: '';
    grid-column: 1/6;
    grid-row: 1;
    width: 105%;
    height: 100%;
    z-index: 999;
    background-color: #00000073;
}
.buy__item.itemDisabled .item__icon{
    filter: brightness(0);
    grid-column: 1;
    grid-row: 1;
}
.buy__item.itemDisabled .item__textBx,
.buy__item.itemDisabled .item__count{
    grid-column: 2;
    grid-row: 1;
}

.buy__item.itemDisabled .prizeGreen{
    color: #ff7070;
}
.buy__item.itemDisabled .desc__icon{
    object-position: -5px -341px !important;
}


.itemDisabled .item__name{
    display: block;
}
.itemDisabled .desc__name{
    display: block;
}
.itemDisabled .desc__citation{
    display: block;
}

.itemDisabled .itmNameDis{
    display: none;
}
.itemDisabled .descNameDis{
    display: none;
}
.itemDisabled .descCitDis{
    display: none;
}



/* Custom bakery name */
@keyframes fadeIn {
    0%{
        visibility: hidden;
        opacity: 0;
    }
    1%{
        visibility: visible;
        opacity: 0;
    }
    100%{
        visibility: visible;
        opacity: 1;
    }
}

@keyframes fadeOut {
    0%{
        visibility: visible;
        opacity: 1;
    }
    99%{
        visibility: visible;
        opacity: 0;
    }
    100%{
        visibility: hidden;
        opacity: 0;
    }
}

.customBakeryName{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #0000008f;
    visibility: hidden;
    opacity: 0;
    z-index: 999;
}
.customBakery__container{
    background-color: black;
    padding: 10px 20px;
    border: 2px solid #dfbc9a;
    position: relative;
    border-radius: 5px;
}
.custom__title{
    font-size: 15px;
    position: relative;
    text-align: center;
    font-weight: 600;
    font-family: Georgia, serif;
    font-variant: small-caps;
    color: #ece2b6;
    text-shadow: 0px 1px 0px #733726, 0px 2px 0px #875626, 0px 2px 1px #000, 0px 2px 3px #000;
}
.custom__title::before,
.custom__title::after{
    content: '';
    display: block;
    position: absolute;
    top: -6px;
    height: 23px;
    background-image: url("../img/featherLeft.png");
    background-repeat: no-repeat;
}
.custom__title::before{
    left: -18px;
    width: 39px;
}
.custom__title::after{
    right: -18px;
    width: 39px;
    transform: rotateY(180deg);
}
.custom__close{
    display: block;
    width: 12px;
    height: 3px;
    position: absolute;
    right: 2px;
    top: 6px;
    background-color: #b7b7b7;
    transform: rotateZ(45deg);
    cursor: pointer;
}
.custom__close::before{
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #b7b7b7;
    transform: rotateZ(-90deg);
}
.custom__inputContainer{
    color: white;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.custom__text{
    font-size: 12px;
    font-weight: 500;
    color: #ccc;
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #3a3a3a;
}
.custom__inputBx{
    width: 100%;
    padding: 8px 4px;
    margin-top: 2px;
    border-radius: 4px;
    border: 1px solid #3a3a3a;
}
.custom__input{
    width: 100%;
    border: 1px solid #e2dd48;
    border-color: #ece2b6 #875526 #733726 #dfbc9a;
    box-shadow: 0px 0px 0px 1px rgb(0 0 0 / 50%) inset, 0px 1px 2px rgb(0 0 0 / 50%) inset;
    border-radius: 4px;
    text-align: center;
}
.custom__btnBx{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    column-gap: 5px;
    margin-top: 6px;
}
.custom__btn{
    font-size: 11px;
    border: 1px solid #e2dd48;
    border-color: #ece2b6a2 #875526b9 #733726a4 #dfbd9aa4;
    color: #a9a9a9;
    padding: 3px 6px;
    border-radius: 2px;
    transition: color 150ms ease-in-out, border-color 150ms ease-in-out;
    cursor: pointer;
}
.custom__btn.customSubmit{
    text-decoration: underline;
}
.custom__btn:hover{
    color: #d8d8d8;
    border-color: #d8d8d8;
}
.custom__error{
    color: #ff7070;
    font-size: 14px;
    font-variant: small-caps;
    padding: 4px 3px 0 3px;
    display: none;
}

/* Floation cookie effect */
.floatingCookieEffect{
    position: absolute;
    font-size: 20px;
    font-variant: small-caps;
    color: white;
    z-index: 999999999999;
    pointer-events: none;
}
.floatingCookieIcon{
    position: absolute;
    width: 38px;
    height: 38px;
    object-fit: none;
    object-position: -246px -148px;
    pointer-events: none;
    z-index: 99999999999;
}

/* testing animated increasing number */
/* @property --num {
    syntax: "<integer>";
    initial-value: 0;
    inherits: false;
}
.cookie__count{
    transition: --num 500ms;
    counter-set: num var(--num);
}
.cookie__count::after{
    content: counter(num);
} */